includes:
  - vendor/erickskrauch/phpstan-yii2/extension.neon
  - vendor/erickskrauch/phpstan-yii2/rules.neon

parameters:
  level: max

  treatPhpDocTypesAsCertain: false

  paths:
    - ./

  excludePaths:
    - runtime (?)
    - test
    - vendor

  scanFiles:
    - vendor/yiisoft/yii2/Yii.php

  yii2:
    config_path: test/yii-config.php
